<ul class="list-group">
<li class="list-group-item"><a type="button" class="btn btn-link" href = "{% url 'experiment_new' id_reaction exper_serie.pk %}">Добавить Эксперимент</a></li>
 <li class="list-group-item"><a type="button" class="btn btn-link" href = "#">Сформировать отчет</a></li>
  <li class="list-group-item"><a type="button" class="btn btn-link" href = "#">Дублировать</a></li>
  <li class="list-group-item">
   <a type="button" class="btn btn-link" ><span class="glyphicon glyphicon-remove"></span> Удалить Серию для эксперимент</a>
  </li>

</ul>




