<!-- Прямая задача химической кинетики-->  
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#step1">Шаг 1.1. Что требуется рассчитать? </a>
        </h4>
      </div>
      <div id="step1" class="panel-collapse collapse">
        <div class="panel-body">Panel Body</div>
        <div class="panel-footer">Panel Footer</div>
      </div>
    </div>
    
    
    <div class="panel panel-default">
      <div class="panel-heading" >
            
        
        <h4 class="panel-title">
          <a data-toggle="collapse"  >Шаг 1.2 Требуется ли сравнение с экспериментальными данными?</a>
        </h4>
        
        
        <div class="checkbox checkbox-slider--b-flat checkbox-slider-info" >
	<label >
		<input  type="checkbox" name="check_experiment" class="checkbox_slider_with_collapse" data_id_collapsed="#step2"><span></span>
	</label>
</div>
       
        
        
      </div>
     
      <div id="step2" class="panel-collapse collapse">
        <div class="panel-body">Panel Body   
       
        
        </div>
        <div class="panel-footer">Panel Footer</div>
      </div>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#step3">Шаг 1.3. Выбор схемы механизма/маршрута реакции</a>
        </h4>
      </div>
      <div id="step3" class="panel-collapse collapse">
        <div class="panel-body">Panel Body</div>
        <div class="panel-footer">Panel Footer</div>
      </div>
    </div>
    
