{% extends 'chemical/base_reaction.html' %}

{% load staticfiles %}
{% block header_block %} 
<!-- Custom titatoggle css -->
    <link href="{% static "css/titatoggle-dist.css" %}" rel="stylesheet">
 {% endblock %}

{% block body_block %}
	<div class="page-header">
	{% include "chemical/problem_edit_header.html" %} 	

	</div>
		<div class="page-content">
			<div class="row">
			    <div class="col-xs-12">
			        
			       
        <form method="POST"  action="">
  <div class="panel-group"> 
     
     
     {% if problem.problem_type.pk == 1 %} <!-- Прямая задача химической кинетики-->
         {% include "chemical/problem_init_1_direct.html" %}
     {% endif %}
      
     {% if problem.problem_type.pk == 2 %} <!-- Обратная задача химической кинетики-->
         {% include "chemical/problem_init_2_inverse.html" %}
     {% endif %}
 
       {% if problem.problem_type.pk == 3 %} <!-- Анализ неопределенности кинетических параметров-->
         {% include "chemical/problem_init_3_uncertainty.html" %}
     {% endif %}
     
     {% if problem.problem_type.pk == 4 %} <!-- Анализ чувствительности кинетических параметров-->
         {% include "chemical/problem_init_4_sensitivity.html" %}
     {% endif %}
     
    <!-- Оптимизация условий проведения реакции-->
    {% if problem.problem_type.pk == 6 %} 
         {% include "chemical/problem_init_6_optimization.html" %}
     {% endif %}
    
    <!-- Расчет энергий активаций с помощью МНК-->
    {% if problem.problem_type.pk == 7 %} 
         {% include "chemical/problem_init_7_MNK.html" %}
     {% endif %}
    
    
				<div class="panel-body">
					<a class = "btn btn-new" href = "{% url 'problem_calc_options' id_reaction problem.pk %}" role = "button">Далее</a> 
				</div>
			
    
  </div>
</form>

			     
			        
			    </div>
			    
			    
			</div>
				
			

            </div>
{% endblock %}


{% block footer_block %}

<script src="{% static "js/problem.js" %}"></script>


  
{% endblock %}
