<h2>{{ problem.problem_type.name }} {% if is_owner %} (Owner grants) {% else %}(Read only){% endif %}
		
		</h2> <a href="{% url 'problem_detail' id_reaction problem.pk%}" title="Вещества">(Детали)</a>
		
		<div class="btn-group btn-breadcrumb col-xs-12" >      
      
<a type="button" id="problem_init" class="btn btn-primary btn-arrow-right col-xs-3 active"
href = "{% url 'problem_init' id_reaction problem.pk %}">1. Постановка задачи</a>
<a type="button" id="problem_calc_options" class="btn btn-default btn-arrow-right col-xs-3" 
href = "{% url 'problem_calc_options' id_reaction problem.pk %}">2. Настройка метода</a>
<a type="button" id="problem_calc_state" class="btn btn-default btn-arrow-right col-xs-3">3. Состояние решения</a>
<a type="button" id="problem_results" class="btn btn-default btn-arrow-right col-xs-3">4. Результат решения</a>
</div>