<!-- Анализ чувствительности кинетических параметров-->  
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#step1">Шаг 1.1. Настройки анализа </a>
        </h4>
      </div>
      <div id="step1" class="panel-collapse collapse">
        <div class="panel-body">Panel Body</div>
        <div class="panel-footer">Panel Footer</div>
      </div>
    </div>
    
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#step2">Шаг 1.2. Настройки минимизируемого критерия</a>
        </h4>
      </div>
      <div id="step2" class="panel-collapse collapse">
        <div class="panel-body">Panel Body</div>
        <div class="panel-footer">Panel Footer</div>
      </div>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#step3">Шаг 1.3. Требуется ли учитывать дополнительные ограничения?</a>
        </h4>
      </div>
      <div id="step3" class="panel-collapse collapse">
        <div class="panel-body">Panel Body</div>
        <div class="panel-footer">Panel Footer</div>
      </div>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#step4">Шаг 1.4. Выбор экспериментальных данных для обработки</a>
        </h4>
      </div>
      <div id="step4" class="panel-collapse collapse">
        <div class="panel-body">Panel Body</div>
        <div class="panel-footer">Panel Footer</div>
      </div>
    </div>
        
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#step5">Шаг 1.5. Выбор схемы механизма/маршрута реакции</a>
        </h4>
      </div>
      <div id="step5" class="panel-collapse collapse">
        <div class="panel-body">Panel Body</div>
        <div class="panel-footer">Panel Footer</div>
      </div>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#step6">Шаг 1.6 Настройка области поиска параметров</a>
        </h4>
      </div>
      <div id="step6" class="panel-collapse collapse">
        <div class="panel-body">Panel Body</div>
        <div class="panel-footer">Panel Footer</div>
      </div>
    </div>
    