{% extends 'chemical/base_reaction.html' %}

{% load staticfiles %}
{% load render_table from django_tables2 %}


{% block body_block %}
   
    <div class="page-header">

    <h1> Вещества реакции</h1>
           
            
    </div>
<div class="page-content">
        
            
                <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-body"> 
          <a class = "btn btn-new pull-left" href = "{% url 'react_substance_new' id_reaction %}" role = "button">Добавить вещество</a>       
         
          
                 
</div>






</div>          

            </div>
            
             {% render_table substance %}
                       <!-- Table -->
{% endblock %}