{% extends 'chemical/base_cabinet.html' %}

{% load staticfiles %}



{% block body_block %}
   
    <div class="page-header">
        <h1><a href="{% url 'reaction_all' %}" class="pull-left"><span class="glyphicon glyphicon-menu-left"></span></a>Добавление реакции</h1>
            </div>
            <div class="page-content">
            
           
 <form method="POST" class="form" action="{% url 'reaction_new' %}">  
            
            {% include "chemical/form_body_new.html" %} 
            
            
</form >

            </div>
{% endblock %}