<ul class="list-group"> 
  <li class="list-group-item">
   <a type="button" class="btn btn-link" data-toggle="modal" data-target="#ModalReactSubstDelete"><span class="glyphicon glyphicon-remove"></span> Удалить</a>
  </li>
    <li class="list-group-item"><a type="button" class="btn btn-link" href = "{% url 'substance_detail' substance.substance.pk %}">Детали Вещества (справочник)</a></li>
</ul>

<!-- Modal Delete Reaction Substance-->   
    <div class="modal fade" id="ModalReactSubstDelete" tabindex="-1" role="dialog" 
     aria-labelledby="ModalReactionSubstDeleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" 
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="ModalReactionSubstDeleteLabel">
                    Удаление вещества реакции
                </h4>
            </div>            
            <!-- Modal Body -->
            <div class="modal-body">  
             
                        <div class="well well-lg">
                          Вы действительно хотите удалить вещество из реакции?  
                        </div>                 
                  
                <div>
    <button type="button" class="btn btn-default" data-dismiss="modal">Нет, не удалять</button>             
    <a class = "btn btn-danger" href = "{% url 'react_substance_delete' id_reaction substance.pk  %}" role = "button">
                                    Да, удалить!</a>
                                     </div>                     
            </div>     
    </div>
    </div>
          
     </div>