{% extends 'base.html' %}

{% load staticfiles %}


{% block body_block %}
	<div class="page-header">
		<h1>Детали механизма</h1>
	</div>
		<div class="page-content">
			{% if scheme_details %}
{% for scheme in scheme_details %}
				<table>
					<tr>
						<td>Название:</td>
						<td>{{ scheme.fname }}</td>
					</tr>
					<tr>
						<td>Описание:</td>
						<td>{{ scheme.fdescription }}</td>
					</tr>
					<tr>
						<td>Вероятный:</td>
						<td><input type="checkbox" {% if scheme.fis_possible %}checked {% endif %} ></td>
					</tr>
					<tr>
						<td>Дата последних изменений:</td>
						<td>{{scheme.fupdated_date}}</td>
					</tr>
					<tr>
						<td>Изменения внес(ла):</td>
						<td>{{scheme.fupdated_by}}</td>
					</tr>
					<tr>
						<td>Дата создания:</td>
						<td>{{scheme.fcreated_date}}</td>
					</tr>
					<tr>
						<td>Механизм создал(а):</td>
						<td>{{scheme.fcreated_by}}</td>
					</tr>
				</table>
{% endfor%}
			{% else %}
				<strong> Не удалось получить детали схемы </strong>
			{% endif %}

            </div>
{% endblock %}