{% extends 'chemical/base_reaction.html' %}

{% load staticfiles %}
{% load render_table from django_tables2 %}
d
{% block body_block %}
	<div class="page-header">
		<h1>Механизмы</h1>
	</div>
	
	<div class="page-content">
		{% if id_reaction %} 
			<div class="panel panel-default">
				<div class="panel-body"> 
					<a class = "btn btn-new" href = "{% url 'scheme_new' id_reaction %}" role = "button">Создать механизм</a> <!-- TODO: убрала из кнопки pull-left. Без него кнопка становится нормальной ссылкой, хоть и сбивается выравнивание -->
				</div>
			</div>

				{% render_table schemes %}
		{% endif %}
	</div>
{% endblock %}
       			


