{% extends 'chemical/base_reaction.html' %}

{% load staticfiles %}


{% block body_block %}
	<div class="page-header">
		<h1>Детали механизма</h1>
	</div>
		<div class="page-content">
			{% if scheme %}
				<table>
					<tr>
						<td>Название:</td>
						<td>{{ scheme.name }}</td>
					</tr>
					<tr>
						<td>Описание:</td>
						<td>{{ scheme.description }}</td>
					</tr>
					<tr>
						<td>Вероятный:</td>
						<td><input type="checkbox" {% if scheme.is_possible %}checked {% endif %} ></td>
					</tr>
					<tr>
						<td>Дата последних изменений:</td>
						<td>{{scheme.updated_date}}</td>
					</tr>
					<tr>
						<td>Изменения внес(ла):</td>
						<td>{{scheme.updated_by}}</td>
					</tr>
					<tr>
						<td>Дата создания:</td>
						<td>{{scheme.created_date}}</td>
					</tr>
					<tr>
						<td>Механизм создал(а):</td>
						<td>{{scheme.created_by}}</td>
					</tr>
				</table>
			{% else %}
				<strong> Не удалось получить детали схемы </strong>
			{% endif %}

            </div>
{% endblock %}
