{% extends 'chemical/base_reaction.html' %}

{% load staticfiles %}


{% block body_block %}
	<div class="page-header">
		{% if scheme_name %}
		<h1> {{ scheme_name }}</h1>
		{% else %}
		<h1> {if Неизвестный механизм</h1>
		{% endif %}
	</div>
	
	<div class="page-content">
<div class="row">          

	
<div class="col-xs-6">
<div class="panel panel-default">
    <div class="btn-toolbar" role="toolbar">
      <div class="btn-group">
        <button type="button" id="add_step" class="btn btn-default" data-reacid="{{id_reaction}}" data-schemeid="{{id_scheme}}" data-toggle="tooltip" data-placement="top" title="Добавить стадию"><span class="glyphicon glyphicon-plus"></span></button>
        <button type="button" class="btn btn-default"  data-reacid="{{id_reaction}}" data-schemeid="{{id_scheme}}"  data-toggle="tooltip" data-placement="top" title="Редактировать стадию"><span class="glyphicon glyphicon-pencil"></span></button>
        <button type="button" class="btn btn-default"  data-reacid="{{id_reaction}}" data-schemeid="{{id_scheme}}" data-toggle="tooltip" data-placement="top" title="Проверить баланс стадии"><span class="glyphicon glyphicon-check"></span></button>
      </div>
</div>	

			<div class="table-container">
				<table id="all-steps_{{id_reaction}}_{{id_scheme}}"  class="paleblue">
					<thead>
						<tr>
							<th class="order_arrows">Переместить</th>
							<th class="order orderable"><a href="?sort=order">№ п/п</a></th>
							<th class="name orderable"><a href="?sort=name">Обозначение</a></th>
							<th class="step">Стадия</th>
							<th class="remove"></th>
							<th class="detail_link">Детали</th>
						</tr>
					</thead>
	    			<tbody id="steps_body">
{% if steps %}	
						{% for step in steps %}
						<tr class="even">
							<td><button id="btn_{{step.id_step}}up" class="changeorder" data-stepid="{{step.id_step}}" data-direction="up"  type="button" data-reacid="{{id_reaction}}" data-schemeid="{{id_scheme}}">&#9650</button></br>
<button id="btn_{{step.id_step}}down" class="changeorder" data-stepid="{{step.id_step}}" data-direction="down"  type="button"  data-reacid="{{id_reaction}}" data-schemeid="{{id_scheme}}">&#9660</button></td>
							<td id="order_{{step.id_step}}"> {{ step.order }} </td>
							<td class="edit name {{step.id_step}}">{{ step.name }}  <button type="button" class="editbtn"  ><span class="glyphicon glyphicon-pencil"></span></button></td>
							<td class="edit step {{step.id_step}}">{{ step.get_leftPart_of_step }} {% if step.is_revers %} &#8596 {% else %} &#8594 {% endif %} {{ step.get_rightPart_of_step }} <button type="button" class="editbtn"  ><span class="glyphicon glyphicon-pencil"></span></button></td>
							<td><button id="btn_{{step.id_step}}del" class="step_delete" type="button" data-reacid="{{id_reaction}}" data-schemeid="{{id_scheme}}" data-stepid="{{step.id_step}}" data-toggle="tooltip" data-placement="top" title="Удалить стадию"><span class="glyphicon glyphicon-remove"></span></button> </td>
							<td><a href="{% url 'step_detail' id_reaction id_scheme step.id_step %}"> Детали</a> </td>
			
						</tr>
						{% endfor %}
		{% endif %}

					</tbody>
				</table>
			</div>
</div>


   </div>
    
        <div class=" col-xs-6">
    
    {% include "chemical/scheme_edit_step_detail.html" %} 
    
     
    
      </div>  
     

</div>
</div> 
{% endblock %}

{% block footer_block %}
<script src="{% static "js/scheme-ajax.js" %}"></script>
{% endblock %}
