{% extends 'chemical/base_reaction.html' %}

{% load staticfiles %}


{% block body_block %}
	
	<div class="page-header">

    <h1> <a href="{% url 'scheme_all' id_reaction %}" class="pull-left"><span class="glyphicon glyphicon-menu-left"></span></a>Детали механизма {% if is_owner %} (Owner grants) {% else %}(Read only){% endif %} </h1>          
            
    </div>
	
<div class="page-content">    
<div class="row">          
 <div class="col-xs-7">
    
            
  <table class="table col-xs-6">
     <tbody>
					<tr>
						<td>Название:</td>
						<td>{{ scheme.name }}</td>
					</tr>
					<tr>
						<td>Описание:</td>
						<td>{{ scheme.description }}</td>
					</tr>
					<tr>
						<td>Вероятный:</td>
						<td><input type="checkbox" {% if scheme.is_possible %}checked {% endif %} ></td>
					</tr>
					<tr>
						<td>Дата последних изменений:</td>
						<td>{{scheme.updated_date}}</td>
					</tr>
					<tr>
						<td>Изменения внес(ла):</td>
						<td>{{scheme.updated_by}}</td>
					</tr>
					<tr>
						<td>Дата создания:</td>
						<td>{{scheme.created_date}}</td>
					</tr>
					<tr>
						<td>Механизм создал(а):</td>
						<td>{{scheme.created_by}}</td>
					</tr>
				

          </tbody>
  </table>
    </div>
        
        <div class=" col-xs-3">
    
    {% include "chemical/scheme_detail_menu.html" %} 
    
     
    
    
     
      </div> 
         

            </div>
{% endblock %}
