{% extends 'chemical/base_cabinet.html' %}

{% load staticfiles %}
{% load render_table from django_tables2 %}



{% block body_block %}
   
    <div class="page-header">

    <h1> <a href="{% url 'substance_all' %}" class="pull-left"><span class="glyphicon glyphicon-menu-left"></span>
          </a>Детали вещества {% if is_owner %} (Owner grants) {% else %}(Read only){% endif %}</h1>
           
            
    </div>
<div class="page-content">
        <div class="row">
     <div class="col-xs-8">
       
        <table class="table" >
    <tbody id="detail_main" model_name="Substance" url_edit="{% url 'substance_detail_edit' substance.pk %}" >
     <tr >
        <td class="detail_caption " >Название:</td>
        <td class="detail_value" ><input class="box_input form-control"  type="text" disabled="disabled" value="{{  substance.name }}"/></td>
        {% if is_owner %}
        <td class="detail_edit " > </td>         
        <td class="detail_btns " field_name="name">
        </td>
        {% endif %}
      </tr>
      
      <!--
      <tr>
      <td class="detail_caption">Синонимы:</td>
      <td class="text-left">...</td>
      </tr> -->
      
      <tr>
        <td class="detail_caption " id="isomer_url" data-check-url="{% url 'substance_check_isomer' %}"
        data-isomers-url="{% url 'substance_isomers' '___' %}">Брутто-формула:</td>
        <td class="detail_value "><input class="box_input" id="id_formula_brutto" type="text" disabled="disabled" value="{{  substance.formula_brutto }}"/></td>
        {% if is_owner %}
        <td class="detail_edit "  ></td>         
         <td class="detail_btns " field_name="formula_brutto" save_refresh_page="True">
         </td>
        {% endif %}
      </tr>
      
     <tr>
        <td class="detail_caption">Формат *.mol:</td>
        <td class="text-left">...</td>
      </tr>
      
      <tr>
        <td class="detail_caption">Графическая формула:</td>
        <td class="text-left">...</td>
      </tr>
      
      <tr>
        <td class="detail_caption ">Заряд:</td>
        <td class="detail_value "><input type="number" id="replyNumber" min="-300" step="1" data-bind="value:replyNumber" value="{{  substance.charge }}"/></td>
        {% if is_owner %}
        <td class="detail_edit " ></td>         
         <td class="detail_btns " field_name="charge">
        </td>
        {% endif %}
      </tr>
      
      
       <tr>
        <td class="detail_caption ">Радикал:</td>
        <td class="detail_value "><input  type="checkbox" disabled="disabled" value="{{  substance.is_radical }}"
         {% if substance.is_radical %} checked="checked" {% endif %}/></td>
        {% if is_owner %}
        <td class="detail_edit "  ></td>         
         <td class="detail_btns " field_name="is_radical">
 
        </td>
        {% endif %}
      </tr>
      
       <tr>
        <td class="detail_caption">Примечание:</td>
        <td class="detail_value"><textarea class="form-control col-xs-12"  rows="10" disabled="disabled">{{  substance.note }}</textarea></td>
        {% if is_owner %}
        <td class="detail_edit"  ></td>         
         <td class="detail_btns" field_name="note">

        </td>
        {% endif %}
      </tr>
      
    </tbody>
  </table>
       
       <table class="table">
    <tbody>
     <tr>
        <td class="detail_caption">Дата последних изменений:</td>
        <td class="detail_value">...</td>
      </tr>
          
          <tr>
        <td class="detail_caption">Последние изменения внес(ла):</td>
        <td class="detail_value">...</td>
      </tr>
          
          <tr>
        <td class="detail_caption">Дата создания:</td>
        <td class="detail_value">...</td>
      </tr>
          
          <tr>
        <td class="text-right">Создал(а):</td>
        <td class="detail_value">...</td>
      </tr>
           </tbody>
         </table>
         
</div>

        
       <div class="col-xs-4">
           <h4>{{  substance.formula_brutto_formatted | safe}}</h4>
           <h5>Состав: {{  substance.consist_as_string}}</h5>
           <h5>Изомеры: {% if isomer_count > 0 %}  
           
           

           
           <a type="button" class="btn btn-link"
           {% if substance.consist_as_string > '' %} 
           href = "{% url 'substance_isomers' substance.consist_as_string %}" 
           {% else %}
           href = "{% url 'substance_isomers'  %}" 
           {% endif %}
           target="_blank">
           {{isomer_count}} шт.</a>
           
            {% else %}Нет{% endif %}</h5>
            
            
            <a class = "btn btn-new" href = "{% url 'substance_new' %}" role = "button">Добавить вещество</a> 
    <br><br>
            {% render_table substance_consist %}
        </div> 
        
    </div>     
       
          

            </div>
            
{% endblock %}


{% block footer_block %}
<script src="{% static "js/details.js" %}"></script>
<script src="{% static "js/subst_all.js" %}"></script>
{% endblock %}
