{% extends 'chemical/base_cabinet.html' %}

{% load staticfiles %}
{% load render_table from django_tables2 %}

{% block header_block %}

{% endblock %}


{% block body_block %}
   
     
   
    <div class="page-header">
                <h1>Справочник веществ</h1>
                
</div>
            <div class="page-content">
  <!-- Default panel contents -->
 
         
                   
                     
     <div class="well well-md"> 
	<div class="row" >
        <div class="col-xs-12">
         {% if is_owner %} <a class = "btn btn-new" href = "{% url 'substance_new' %}" role = "button">Добавить вещество</a> 
         {%  endif %}
         <a class = "btn btn-link" href="{% url 'atom_all' %}" >Таблица Менделеева</a>
         <br><br>
        </div>
        
    </div>
      	<div class="row" >
      <div class="col-xs-12">      
           
            
          
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" id="search" class="form-control input-md" placeholder="Введите строку для поиска" 
                    data-search-url="{% url 'substance_all_search' '___' %}"
                    data-hint-url="{% url 'substance_search_hint' '___' 3 %}"
                   value= {% if searched %} "{{searched}}"{% else %} ""{% endif %}
                    />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-md" type="button" id="search_btn">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                    
                </div>
            </div>
            <div><span id="txtHint"></span></div>
       
           
            </div>
        </div>
        
        
     
          
        
        
	</div>
 

  

            
            
 

         
            <div> {% render_table substance %}</div>
                      
        </div>              
                      
                       
{% endblock %}

{% block footer_block %}
<script src="{% static "js/subst_all.js" %}"></script>
{% endblock %}
