{% extends 'chemical/base_cabinet.html' %}

{% load staticfiles %}
{% load render_table from django_tables2 %}

{% block header_block %}

{% endblock %}


{% block body_block %}
   
     
   
    <div class="page-header">
                <h1>Справочник веществ</h1>
                

  <!-- Default panel contents -->
 
         
                   
                     
     <div class="well well-md"> 
	<div class="row" >
        <div class="col-md-2">
         <a class = "btn btn-new" href = "{% url 'substance_new' %}" role = "button">Добавить вещество</a>       
   
        </div>
    		<div class="col-md-6">
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" id="search" class="form-control input-md" placeholder="Введите строку для поиска" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-md" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                    
                </div>
            </div>
            <p>Подсказка: <span id="txtHint"></span></p>
        </div>
        
        <div class="col-md-4">
     
          <a href="{% url 'atom_all' %}" >Таблица Менделеева</a>
        </div>
        
	</div>
 </div>

  

            
            
 

            </div>
            <div> {% render_table substance %}</div>
                      
                      </div>
                      
                       
{% endblock %}

{% block footer_block %}
<script src="{% static "js/subst_all.js" %}"></script>
{% endblock %}
