{% extends 'chemical/base_cabinet.html' %}

{% load staticfiles %}
{% load render_table from django_tables2 %}


{% block body_block %}
   
    <div class="page-header">

    <h1> <a href="{% url 'substance_all' %}" class="pull-left"><span class="glyphicon glyphicon-menu-left"></span></a>Детали вещества (read only)</h1>
           
            
    </div>
<div class="page-content">
        
            
   <div class="table">
  <table class="table">
    <tbody>
     <tr>
        <td class="text-right">Название</td>
        <td class="text-left">{{  substance.name }}</td>
      </tr>
      <tr>
        <td class="pull-right">Брутто-формула</td>
        <td class="text-left">{{  substance.formula_brutto_formatted | safe}}</td>
      </tr>
      
      <tr>
      <td class="pull-right">Заряд</td>
      <td class="text-left">{{  substance.charge }}</td>
      </tr>
      
      <tr>
        <td class="pull-right">Радикал</td>
        <td class="text-left">{{  substance.is_radical }}</td>
      </tr>
      
      <tr>
        <td class="pull-right">Примечание</td>
        <td class="text-left">{{  substance.note }}</td>
      </tr>
      
    </tbody>
  </table>
</div>          

            </div>
            <h3> Состав вещества</h3>
            {% render_table substance_consist %}
{% endblock %}