
/*
оранжевая кнопка на создание нового элемента (FF9933;)
*/
.btn-new {
	background-color: #FEC63D; 
	color          : #000000;
	border-color:    #000000;
}

/*
убрать подчеркивание, например для ссылок <A
селектор по идентификатору
*/
#arrow {
text-decoration: none;
}

.changeorder {
	outline : none;
	background-color: #FEC63D; 
	color          : #000000;
	border-color:    #000000;
}
/*
при наведении курсора становится оранжевым*/
#arrow:hover {
/*
text-decoration: underline; /*подчеркивание при наведении*/
*/
color: #FEC63D;
}
